<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Plurker.PlurkApplication" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Plurker.PlurkApplication>
            <setting name="PlurkAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PlurkUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="PlurkPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerBootMSec" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="Maintain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TurnOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Approve" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Message" serializeAs="String">
                <value />
            </setting>
            <setting name="stockDataPath" serializeAs="String">
                <value>D:\Plurker\AssemblyDLL\stockData.xml</value>
            </setting>
            <setting name="fifthDataPath" serializeAs="String">
                <value>D:\Plurker\AssemblyDLL\fifthData.xml</value>
            </setting>
            <setting name="foodDataPath" serializeAs="String">
                <value>D:\Plurker\AssemblyDLL\food.xml</value>
            </setting>
            <setting name="AutoSayHello" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoFifth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoAddFriend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTeach" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoFaceIt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FaceItService" serializeAs="String">
                <value>http://localhost/wsf/</value>
            </setting>
            <setting name="AutoExrate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoFoodSuggest" serializeAs="String">
                <value>False</value>
            </setting>
        </Plurker.PlurkApplication>
    </userSettings>
</configuration>