<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlurkModule.Properties.PlurkApplication" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PlurkModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlurkModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PlurkModule.Properties.PlurkApplication>
            <setting name="PlurkAPIKey" serializeAs="String">
                <value></value>
            </setting>
            <setting name="PlurkUserName" serializeAs="String">
                <value></value>
            </setting>
            <setting name="PlurkPassword" serializeAs="String">
                <value></value>
            </setting>
            <setting name="TimerBootMSec" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="Maintain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TurnOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Approve" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Message" serializeAs="String">
                <value />
            </setting>
            <setting name="stockDataPath" serializeAs="String">
                <value>D:\Plurker\AssemblyDLL\stockData.xml</value>
            </setting>
            <setting name="fifthDataPath" serializeAs="String">
                <value>D:\Plurker\AssemblyDLL\fifthData.xml</value>
            </setting>
            <setting name="foodDataPath" serializeAs="String">
                <value>D:\Plurker\AssemblyDLL\food.xml</value>
            </setting>
            <setting name="AutoSayHello" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoFifth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoAddFriend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoTeach" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoFaceIt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FaceItService" serializeAs="String">
                <value>http://localhost/wsf/</value>
            </setting>
            <setting name="AutoExrate" serializeAs="String">
                <value>True</value>
            </setting>
        </PlurkModule.Properties.PlurkApplication>
        <PlurkModule.Properties.Settings>
            <setting name="DecimalSynonymousFile" serializeAs="String">
                <value>D:\Plurker\AssemblyDLL\Exrate.xml</value>
            </setting>
            <setting name="PlurkModule_5Floor_ThreadCount" serializeAs="String">
                <value>100</value>
            </setting>
        </PlurkModule.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PlurkModule.Properties.Settings>
            <setting name="PlurkModule_net_webservicex_www_CurrencyConvertor"
                serializeAs="String">
                <value>http://www.webservicex.net/CurrencyConvertor.asmx</value>
            </setting>
        </PlurkModule.Properties.Settings>
    </applicationSettings>
</configuration>